@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DynaPuff:wght@400..700&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Slackey&display=swap');
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Elms Sans', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

[data-dapp-kit], [data-dapp-kit] * {
  --dapp-kit-typography-fontFamily: 'Elms Sans', sans-serif !important;
}

